@mixin button($bg) {
  color: white;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  font-family: "Poiret One", cursive;
  font-size: 2em;
  background: $bg;
  &:hover {
    background: darken($bg, 8%);
    transition: all 0.3s ease;
  }
  &:active {
    background: darken($bg, 25%);
  }
}
