<!-- <nav>

  <ul class="menu">
    <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
    <li class="menu__item"><a href="#" class="menu__link">Home</a></li>
  </ul>
</nav> -->

<nav class="nav">
  <h1>{{ dataService.nombreUsuario }}</h1>
  <ul class="menu">
    <li class="menu__item"><a href="" class="menu__link">Link 1</a></li>
    <li class="menu__item"><a href="" class="menu__link">Link 2</a></li>
    <li class="menu__item"><a href="" class="menu__link">Link 3</a></li>
    <li class="menu__item"><a href="" class="menu__link">Link 4</a></li>
    <li class="menu__item"><a href="" class="menu__link">Link 5</a></li>
    <li class="menu__item"><a href="" class="menu__link">Link 6</a></li>
  </ul>
</nav>
